
/*segundo carousel inicio*/

#slider{

		overflow: hidden;

}

#slider figure {

			position: relative;
			width: 400%;
			margin: 0;
			left: 0;
			animation: 20s slider infinite;
}

#slider figure img {

	width: 20%;
	float: left;

}

@keyframes slider {
	0% {
		left: 0;
	}
	20% {
			left: 0;
	}
	25% {
			left: -100%;
	}
	45% {
			left: -100%;
	}
	50% {
			left: -200%;
	}
	70%{
			left: -200;
	}
	75% {
			left: -300%;
	}
	95%{
			left: -300%;

	}
	100%{
			left: -400%
	}

}

/*segundo carousel fin*/


h2 {
  font-weight: 200;
  letter-spacing: -2px;
  font-size: 2em;
}

h2 span {
  font-weight: 800;
}


.texto{

background:#dd3333;

}

.text-borrado{

margin: 20px;
 padding-left: 100px;
color: white

}


.btn-outline-primary{

  color: #fff;
  background-color:#dd3333 ;
  border-color: white;

}

.btn-outline-primary:hover {
    color: #dd3333;
    background-color: white;
    border-color: white;

}

.boton{

margin: 20px;

}

.titulo-clase{



}

.clase{

margin-top: 30px;
margin-bottom: 30px;
}

.titulo-clase{

color: black;

}

.texto-clase{

color: grey;

}

.instagram{

background-color: black;

}

.logo{

margin: 20px;
color: grey;

}


.cartas{

margin: 20px;

}


.card{

margin-left:40px;

}

.card:hover{

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  transition: .5s ease;
  background-color: rgba(255, 0, 0, 0.75);

}

.botones{

margin-bottom: 30px;

}


/*footer*/

#myFooter {
	background-color: #373a48;
	color:white;
}

#myFooter .footer-copyright{
	background-color: #383737;
	padding-top:3px;
	padding-bottom:3px;
	text-align: center;
}

#myFooter .footer-copyright p{
	margin:10px;
	color: #ccc;
}

#myFooter ul{
	list-style-type: none;
    padding-left: 0;
    line-height: 1.7;

}

#myFooter h5{
	font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a{
	color:#d2d1d1;
	text-decoration: none;
}

#myFooter a:hover, #myFooter a:focus{
	text-decoration: none;
	color:white;
}

#myFooter .myCols{
	text-align: center;
}

#myFooter .social-networks{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 38px;
}

#myFooter .social-networks a{

}

#myFooter .social-networks a:hover{
	text-decoration: none;

}


@media screen and (max-width: 767px){
	#myFooter {
		text-align: center;
	}
}




#myFooter{
	flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

.text-footer{

margin:20px;

}



/* Click the image one by one to see the different layout */

/* Owl Carousel */

.owl-prev {
  background: url('https://res.cloudinary.com/milairagny/image/upload/v1487938188/left-arrow_rlxamy.png') left center no-repeat;
  height: 54px;
  position: absolute;
  top: 50%;
  width: 27px;
  z-index: 1000;
  left: 2%;
  cursor: pointer;
  color: transparent;
  margin-top: -27px;
}

.owl-next {
  background: url('https://res.cloudinary.com/milairagny/image/upload/v1487938220/right-arrow_zwe9sf.png') right center no-repeat;
  height: 54px;
  position: absolute;
  top: 50%;
  width: 27px;
  z-index: 1000;
  right: 2%;
  cursor: pointer;
  color: transparent;
  margin-top: -27px;
}

.owl-prev:hover,
.owl-next:hover {
  opacity: 0.5;
}


/* Owl Carousel */


/* Popup Text */

.white-popup-block {
  background: #FFF;
  padding: 20px 30px;
  text-align: left;
  max-width: 650px;
  margin: 40px auto;
  position: relative;
}

.popuptext {
  display: table;
}
.popuptext p {
  margin-bottom: 10px;
}
.popuptext span {
  font-weight: bold;
  float: right;
}
/* Popup Text */

/* Icon CSS */
.item {
  position: relative;
}
.item i {
  display: none;
  font-size: 4rem;
  color: #FFF;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.item a {
  display: block;
  width: 100%;
}
.item a:hover:before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.item a:hover i {
  display: block;
  z-index: 2;
}

.owl-carousel{

margin: 30px;

}

.carousel{

background-color: black;

}
